html {
	margin: 0;
	padding: 0;
	}

#grid-container {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	display: grid;
	margin: auto;
	margin: 0 auto;
	min-height:auto;
	padding-left: 0%;
	padding-right: 0%;
	justify-content: center;
	grid-template-columns: auto, 1fr;
	grid-template-rows: auto;
	height: max-content; 
	
}

a.design-name {
	color: #607476;
	font: 19.2px "Julius Sans One", sans-serif;
	margin: 0px 0px 4.8px;
}

a.designer-name {
	color: 616857;
	font: 14.4px "Libre Baskerville", sans-serif;

}

a.view-css {
	color: #607476;
	font: 19.2px "Julius Sans One", sans-serif;
	Margin: 0px 0px 4.8px;

}

h3 {
	display: table;
	color: #2E484C;
	font: 28.8px "Julius Sans One", sans-serif;
	
}

ul {
    list-style-type: none;
    padding: 0;
    /* border: 2px solid #c141f4; */
}

ul li {
    padding: 10px 18px;
    border-bottom: 2px solid #a8d3c8b1;
}

ul li:last-child {
    border-bottom: none;
}


.img { max-width: fit-content; height: auto }

a.button1 {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	background-color: rgba(255,255,255,0.1);
	text-align:center;
	transition: all 0.2s;
	}

	a.button1:hover {
	color:#9685BA;
	background-color:#FFFFFF;
	}

	@media all and (max-width:30em){
	a.button1 {
	display:block;
	margin:0.4em auto;
	}
	}


/* Laptop */

@media only screen and (min-width: 1240px) {

    #box1 {
        background: #fff  ; 
        color: #325050; 
        grid-column: 1 / 6; 
        grid-row: 1 / 2;
		
		
		
     }
      
     #box2 {
        background: #325050; 
        color: #555753; 
        grid-column: 7 / 12; 
        grid-row: 1 / 2;
		font: 'Libre Baskerville', sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		color: #7D775C;
		padding-left: 30px;
		font-size: x-large;
		padding-top: 75px;
		padding-bottom: 75px;
		
		
     }
      
     #box3 {
        background: #fff; 
        color: #325050; 
        grid-column: 1 / 6;
        /* grid-row: 2 / 3; */
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 
		/* text-align: justify;
		padding: 1%; */
		height: max-content;
		padding-left: 50px;
		padding-right: 50px;
		
		
		
     }
      
     #box4 {
        background: rgb(209, 221, 218) ; 
		color: #325050; 
        grid-column: 7 / 12; 
        grid-row: 2 / 3;
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		
		
		
     }
      
     #box5 {
        background: rgb(207, 236, 212) ; 
        color: #325050; 
        grid-column: 1 / 6;
        grid-row: 3 / 4;  
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		background-image: url(http://www.csszengarden.com/214/bamboo.png);
		height: max-content;
		padding-left: 50px;
		padding-right: 50px;
     }

	 #box6 {
        background: rgb(207, 236, 212); 
        color: #325050;
        grid-column: 7 / 12; 
        grid-row: 3 / 4;
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 		
		background-image: url(http://www.csszengarden.com/214/bamboo.png);
     }
      
     #box7 {
        background: #fff; 
        color: #325050;
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px;  
        grid-column: 1 / 6; 
        grid-row: 4 / 5;
		height: max-content;
		padding-left: 50px;
		padding-right: 50px;
     }
      
     #box8 {
        background: rgb(209, 221, 218); 
		color: #325050; 
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 
        grid-column: 7 / 12;
        grid-row: 4 / 5;
     }
      
     #box9 {
        background: #fff; 
		color: #325050;
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 
        grid-column: 1 / 12; 
        grid-row: 6 / 7;
		 
		
		
     }
      
     #box10 {
        background: #fff; 
		color: #325050;
        grid-column: 1 / 12;
        grid-row: 7 / 8;   
     }
     
     #grid-container > div {
        border: none;
        width: 100%;
        height: 100%;
        /* display: flex;
        justify-content: left;
        align-items: center; */

     }

	}

	

/* Smaller Screens */

@media only screen and (max-width: 1239px) {

	#box1 {
        background: #fff  ; 
        color: #325050; 
        grid-column: 1 / 12; 
        grid-row: 1 / 2;
		
		
		
     } 

	 #box3 {
        background: #fff; 
        color: #325050; 
        grid-column: 1 / 12;
        grid-row: 2 / 3;
		font: italic normal 1.4em georgia, sans-serif;
		/* text-align: justify;
		padding: 1%; */
		letter-spacing: 1px; 
		height: max-content;
		
		
		
		
     }
	
	 #box5 {
        background: rgb(207, 236, 212) ; 
        color: #325050; 
        grid-column: 1 / 12;
        grid-row: 3 / 4;  
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		background-image: url(http://www.csszengarden.com/214/bamboo.png);
		height: max-content;
     }

	 #box7 {
        background: #fff; 
        color: #325050;
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px;  
        grid-column: 1 / 12; 
        grid-row: 4 / 5;
		height: max-content;
     }

	
     #box4 {
        background: rgb(209, 221, 218) ; 
		color: #325050; 
        grid-column: 1 / 12; 
        grid-row: 5 / 6;
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		
		
		
     }
	
	 #box6 {
        background: rgb(207, 236, 212); 
        color: #325050;
        grid-column: 1 / 12; 
        grid-row: 6 / 7;
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 		
		background-image: url(http://www.csszengarden.com/214/bamboo.png);
     }

	 #box9 {
        background: #fff; 
		color: #325050;
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 
        grid-column: 1 / 12; 
        grid-row: 7 / 8;
		 
		
		
     }

	 #box10 {
        background: #fff; 
		color: #325050;
        grid-column: 1 / 12;
        grid-row: 8 / 9;   
     }
	
}




